*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image{
    width: 40%;
    margin-top: 5vw;
}

.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vw;
}

.word{
    padding: 10px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.word p{
    font-size: 48px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.keyboard{
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
}

.keyboard p{
    font-size: 24px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 1vw;
    cursor:pointer;
}

.image img{
    display: none;
    width: 80%;
    margin: auto;

}

.current{
    display: block;
}

.end{
    display:none;
    margin: auto;
    margin-top: 200px;
}

h2{
    font-size: 72px;
    text-align: center;
}

h3{
    font-size: 40px;
    text-align: center;
}